<% provide(:title, "Sign in") %>
<div class = "textarea">
<% if signed_in? %>

  <h1>Sign out</h1></br>

  <%= link_to "Sign out", signout_path, method: "delete",
   class: "btn btn-med" %>
  <p></br> Not done yet? <%= link_to "Keep going!",
   requests_path %></p>

<% else %>
  
  <h1>Sign in</h1>
  <%= form_for(:session, url: sessions_path) do |f| %>
	    
  <%= f.label :email %>
	<%= f.text_field :email %>

	<%= f.label :password %>
	<%= f.password_field :password %> </br>	 
  <div class="extra_vertical"> 
	  <%= f.submit "Sign in", class: "btn btn-med" %>
  </div>
<% end %>

<p>New to OneTeam? <%= link_to "Sign up now!",
 signup_path %></p>
 
<script>
  if (navigator.geolocation) {
    var options = {
      enableHighAccuracy: false,
      timeout: 500,
      maximumAge: 5000
    };

    function success(position) {
      var data = "user_location=" + escape(position.coords.latitude + "|" + position.coords.longitude);
      alert(data);
      document.cookie = data;
    };
    
    function error() {
      output.innerHTML = "Unable to retrieve your location";
    };

    navigator.geolocation.getCurrentPosition(success, error, options);
  }
  else {
    output.innerHTML =
     "<p>Geolocation is not supported by your browser</p>";
  }
</script>  

</div>
<% end %>


