<% if @employee.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

    <ul>
    <% @employee.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

    <div id="employee_name">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>

      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>  

    <div id="employee_contact">
      
      <div id="employee_contact_email"> 
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>  
      
      <div id="employee_location_dropdown">
        <%= f.label :location, 'Office' %>
        <%= collection_select(:employee, :location_id, @locations, :id, :name, :prompt => true) %>
      </div>  
      
      <div id="employee_department_dropdown">
        <%= f.label :department %>
        <%= collection_select(:employee, :department_id, @departments, :id, :name, :prompt => true) %>
      </div>

      <div id="employee_group_dropdown">
        <%= f.label :group %>
        <%= collection_select(:employee, :group_id, @groups, :id, :name, :prompt => true) %>
      </div>  
    </div> 

    <div id="employee_company_info"> 

      <div id="employee_position_dropdown">
        <%= f.label :position, 'Job Title' %>
        <%= collection_select(:employee, :position_id, @positions, :id, :name, :prompt => true) %>
      </div>  

      <div id="employee_immediate_manager">
        <%= f.label :manager, 'Immediate Supervisor' %>
        <%= f.text_field :manager %>
      </div>  

      <div id="employee_years">
        <%= f.label :years_with_company %>
        <%= f.number_field :years_with_company, :in => 0..10, :step => 1 %>
      </div>
    </div>

    <div id="employee_self_description">
      <%= f.label :about_me, 'Write a short description about yourself' %>
      <%= f.text_area :about_me %>
    </div>

    <div id="employee_checkboxes_current_skills">
      <%=f.label :current_skills, 'Current Skills' %>
      <div id="employee_column_checkboxes">
        <% all_skills.each do |skill| %>
          <div class="vertical_checkboxes">
          <%= check_box_tag "employee[current_skills][]", skill.name, @employee.has_skill?(skill.name) %>
          <%= skill.name %> 
          </div>  
        <% end %>
      </div>
    </div>  

    <div id="employee_checkboxes_desired_skills">
      <%=f.label :skills_interested_in, 'Desired Skills' %>
      <div id="employee_column2_checkboxes">
        <% all_skills.each do |skill| %>
          <div class="vertical_checkboxes">
          <%= check_box_tag "employee[skills_interested_in][]", skill.name, @employee.wants_skill?(skill.name) %>
          <%= skill.name %> 
          </div>  
        <% end %>
      </div>
    </div> 

 





