<p id="notice"><%= notice %></p>
<% provide(:title, @employee) %>

<h1>My Profile</h1>

<%= link_to 'Edit Profile', edit_employee_path(@employee) %></br>

<div id="gravatar">
<h1 class = "pull-left">
  <%= gravatar_for @employee %>
</h1></div>
</br>

<div id="profile">
<p>
  <b>First Name:</b>
  <%= @employee.first_name %>
</p> 

<p>
  <b>Last Name:</b>
  <%= @employee.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @employee.email %>
</p>

<p>
  <b>Office:</b>
  <%= @employee.location.name %>
</p>

<p>
  <b>Department:</b>
  <%= @employee.department.name %>
</p>

<p>
  <b>Group:</b>
  <%= @employee.group.name %>
</p>

<p>
  <b>Job Title:</b>
  <%= @employee.position.name %>
</p>

<p>
  <b>Immediate Supervisor:</b>
  <%= @employee.manager %>
</p>

<p>
  <b>Years with Company:</b>
  <%= @employee.years_with_company %>
</p>
</br>

<p>
  <b>Current Skills:</b>
  <% @employee.employee_current_skills.each do |cs| %>
    <% if cs.skill_level != 0 %>
      <%= cs.skill_name %>(<%= cs.skill_level %>)
    <% end %>  
  <% end %>  
</p>

<p>
  <b>Desired Skills:</b>
  <% @employee.employee_desired_skills.each do |ds| %>
    <% if ds.interest_level != 0 %>
      <%= ds.skill_name %>(<%= ds.interest_level %>)
    <% end %>  
  <% end %>  
</p>
</br>

<p>
  <b>Short description about <%=@employee.first_name %>:</b>
  <%= @employee.about_me %>
</p>
</br>

<p>
  <b>My Projects and Skill Points:</b></br>
<p>

<table class="text_indent_small">
<tr>
  <td>Skill</td>
  <td>Total Experience Points</td>
  <td>Average Skill Levels</td
</tr>

<% all_skills.each do |skill| %>
  <tr>
      <td><%= skill.name %></td>
      <td class="center"><%= @employee.skill_experience_total(skill.id) %></td>
      <td class="center"><%= @employee.average_skill_level(skill.id) %></td>
  </tr>  
<% end %>               
</table></br>


<% @my_projects.each do |my_project| %>
  <% if !my_project.done? %>

    <p><%= my_project.title %>: <%= my_project.start_date_str %>
     - <%= my_project.end_date_str %>(<%= my_project.status %>)</p>
    <p>Description: <%= my_project.task %></p>
  <% end %>
<% end %>  

<hr>

<% @my_projects.each do |my_project| %>
  <% if my_project.done? %> 

    <p><%= my_project.title %>:<%= my_project.start_date_str %>
     - <%= my_project.end_date_str %>(<%= my_project.status %>)</p>
    <p>Description: <%= my_project.task %></p>

    <% if my_project.evaluated?(@employee) %>
      <table class="text_indent_small">
        <tr>
          <td>Skill</td>
          <td>Project Experience Points</td>
          <td>Project Skill Levels</td>
        </tr>

        <% all_skills.each do |skill| %>
          <tr>
            <td><%= skill.name %></td>
            <td class="center"><%= @employee.skill_experience(my_project, skill.id) %></td>
            <td class="center"><%= @employee.skill_level(my_project, skill.id) %></td>
          </tr>
        <% end %>   
      </table></br>
    <% else %>
      <p> Project not yet evaluated </P></br>
    <% end %>
  <% end %>       
<% end %>         

</div>

