<p id="notice"><%= notice %></p>

<!-- not sure what this line is doing, check Hartl? -->
<% provide(:title, @employee) %>

<h1>My Profile</h1>

<%= link_to 'Edit Profile', edit_employee_path(@employee) %></br>

<div id="gravatar">
<h1 class = "pull-left">
  <%= gravatar_for @employee %>
</h1></div>
</br>

<div id="profile">
<p>
  <b>First Name:</b>
  <%= @employee.first_name %>
</p> 

<p>
  <b>Last Name:</b>
  <%= @employee.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @employee.email %>
</p>

<p>
  <b>Office:</b>
  <%= @employee.location %>
</p>

<p>
  <b>Department:</b>
  <%= @employee.department %>
</p>

<p>
  <b>Group:</b>
  <%= @employee.group %>
</p>

<p>
  <b>Job Title:</b>
  <%= @employee.position %>
</p>

<p>
  <b>Immediate Supervisor:</b>
  <%= @employee.manager %>
</p>

<p>
  <b>Years with Company:</b>
  <%= @employee.years_with_company %>
</p>
</br>

<p>
  <b>Current Skills:</b>
  <%= @employee.current_skills %>
</p>

<p>
  <b>Desired Skills:</b>
  <%= @employee.skills_interested_in %>
</p>
</br>

<p>
  <b>Short description about <%=@employee.first_name %>:</b>
  <%= @employee.about_me %>
</p>
</br>

<p>
  <b>Projects I've worked on:</b></br>
<p>

<% @my_projects.each do |my_project| %>
  <% if !my_project.done? %>

    <p><%= my_project.title %>:<%= my_project.start_date_str %>
     - <%= my_project.end_date_str %>(<%= my_project.status %>)</p>
    <p>Description: <%= my_project.task %></p>
  <% end %>
<% end %>  

<hr>

<% @my_projects.each do |my_project| %>
  <% if my_project.done? %> 

    <p><%= my_project.title %>:<%= my_project.start_date_str %>
     - <%= my_project.end_date_str %>(<%= my_project.status %>)</p>
    <p>Description: <%= my_project.task %></p>
    </br>
  <% end %> 
<% end %>   

</div>


<!-- Below not requested by client -->
<%#= link_to 'Back', employees_path %>
