<div class="span6 offset3">
  <% provide(:title, 'Editing request') %>
<h1>Editing request</h1>
</div>

<%= hidden_field_tag "request[skills_needed][]", "" %>

<%= form_for(@request) do |f| %>
<%= hidden_field_tag "request[skills_needed][]", "" %>
	  	  
  <%= render 'form', :f => f %> </br>
    
  <div class="row">
    <div class="span6 offset3">
      <%= f.submit "Update request", class: "btn btn-large btn-primary" %>
    </div>
  </div>
  
<% end %>

<%= link_to 'Show', @request %> |
<%= link_to 'Back', requests_path %>
