<% provide(:title, "Requests I've Posted") %>

<h1>Requests I've Posted</h1>

<%= link_to 'New Request', new_request_path %>

<% @my_requests.each do |my_request| %>

  <% if my_request.status(my_request) != 'Completed' %>

    </br><p><%= my_request.title %>:<%= my_request.start_date.strftime("%b %d %Y") %> - <%= my_request.end_date.strftime("%b %d %Y") %>(<%= my_request.status(my_request) %>)</p>
    <p>Description: <%= my_request.task %></p>
  <% end %>
<% end %>  

<hr>
</br>

<% @my_requests.each do |my_request| %>
  <% if my_request.status(my_request) == 'Completed' %> 

    </br><p><%= my_request.title %>:<%= my_request.start_date.strftime("%b %d %Y") %> - <%= my_request.end_date.strftime("%b %d %Y") %>(<%= my_request.status(my_request) %>)</p>
    <p>Description: <%= my_request.task %></p>
  <% end %> 
<% end %>   
  
<!-- Link not requested by client 
<%#= link_to 'New Request', new_request_path %> -->