<% provide(:title, "Requests I've Posted") %>
<h1>Requests I've Posted</h1>


<%= link_to 'New Request', new_request_path %>
</br>

<% @requests.each do |request| %>

  <% if !request.done? %>

    </br><p><em><%= request.title %></em>:<%= request.start_date_str %>
     - <%= request.end_date_str %>(<%= request.status %>)</p>
    <p>Description: <%= request.task %></p>
    <p>Active <%= link_to 'Cancel', request,
     method: :delete, data: {confirm: "Are you sure?"} %></p>
    <p><em>Applicants:</em></p>

    <% request.responses.each do |response| %>

      <p class = "text_indent_small"><%= link_to response.employee.full_name, employee_path(response.employee) %> |

        <% if response.selected? %> Selected </p>
        <% else %><%= link_to 'Select', new_response_selection_path(response) %></p>
        <% end %>

        <p class = "text_indent_large"><em>Current skills</em> score: <%=request.current_skills_score(response.employee) %> (<%= request.current_skills_count(response.employee) %> out of <%=request.skills.count %> skills)</p>

        <p class = "text_indent_large"><em>Interested skills</em> score: <%=request.desired_skills_score(response.employee) %> (<%=request.desired_skills_count(response.employee) %> out of <%=request.skills.count %> skills)</p>

    <% end %> 
  <% end %>
<% end %>  

</br>
<hr>

<% @requests.each do |request| %>
  <% if request.done? %> 

    </br><p><%= request.title %>:<%= request.start_date_str %> - <%= request.end_date_str %>(<%= request.status %>)</p>
    
    <p>Description: <%= request.task %></p>
    <p>Applicants:</p>

    <% request.responses.each do |response| %>

      <p><%= link_to response.employee.full_name, employee_path(response.employee) %>
        <% if response.selected? %> Selected </p>
        <% end %>
    <% end %> 
  <% end %> 
<% end %>   
  
<!-- Link not requested by client 
<%#= link_to 'New Request', new_request_path %> -->