<% provide(:title, 'New request') %>
<h1>New request</h1>

<%= form_for(@request) do |f| %>
<%= hidden_field_tag "request[skills_needed][]", "" %>
	  
  <%= render 'form', :f => f %> </br>
    
  <div id="request-controls">
    <%= button_to "Create request", request_path(request), class:  "btn btn-med", :method => "post" %>
    <%= button_to "Cancel", employee_requests_path(current_employee), class: "btn btn-med", :method => "post" %></div>

<% end %>





