
<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @request.title %>
</p>

<p>
  <b>Description:</b>
  <%= @request.task %>
</p>

<p>
  <b>Skills needed:</b>
  <%= @request.skills_needed %>
</p>

<p>
  <b>Location:</b>
  <%= @request.location %>
</p>

<p>
  <b>Start Date:</b>
  <%= @request.start_date %>
</p>

<p>
  <b>End Date:</b>
  <%= @request.end_date %>
</p>

<p>
  <b>Group:</b>
  <%= @request.group %>
</p>

<p>
  <b>Lead:</b>
  <%= @request.lead %>
</p>

<p>
  <b>Contact:</b>
  <%= @request.contact %>
</p>


<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', employee_requests_path(current_employee) %>
