
<p id="notice"><%= notice %></p>

<p>
  <b>Request:</b>
  <%= @request.id %>
</p>

<p>
  <b>Description:</b>
  <%= @request.task %>
</p>

<p>
  <b>Skills needed:</b>
  <%= @request.skills_needed %>
</p>

<p>
  <b>Location:</b>
  <%= @request.location %>
</p>

<p>
  <b>Dates:</b>
  <%= @request.dates %>
</p>

<p>
  <b>Group:</b>
  <%= @request.group %>
</p>

<p>
  <b>Lead:</b>
  <%= @request.lead %>
</p>

<p>
  <b>Contact:</b>
  <%= @request.contact %>
</p>


<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
