<h1>Responses</h1> 
to Request <%= params[:request_id] %>
<table>
  <tr>	 
    <th>Response</th>
    <th>Posted by</th>
    <th>Comments</th>
    <th>Choose One:</th>
  </tr>

<% @response.each do |response| %>
  <tr>  
    <td><%= response.id %></td>
    <td><%= link_to  Employee.find(response.employee_id).name, 
	    employee_path(response.employee_id)%></td>
    <td><%= response.comments %></td>
    <td><%= link_to 'Select this developer?', 
	    response_selected_employee_path(response.id,@selected_employee)%></td>
  </tr>
<% end %>
</table>

<%= will_paginate @response %>

<br />

<%= link_to 'Back to Requests', requests_path %>
