
<p>
  <b>Employee:</b>
  <%= @response.employee.name %>
</p>

<p>
  <b>Request:</b>
  <%= @response.request_id %>
</p>

<p>
  <b>Comments:</b>
  <%= @response.comments %>
</p>


<%= link_to 'Edit', edit_request_response_path(@request,@response) %> 
<%= link_to 'Back to My Requests', employee_requests_path(current_employee) %>
