<div class="textarea">
<h1>Edit Selection</h1>

Edit "<%= @selection.response.employee.first_name %> <%= @selection.response.employee.last_name %> to fill Request '<%= @selection.response.request.task %>' "

<%= form_for(@selection) do |f| %>	  
	
    <%= render 'form', :f => f %> </br>
    
    <%= f.submit "Update", class: "btn btn-large btn-primary" %>
<% end %>

<%= link_to 'Show', selection_path(@selection) %> |
<%= link_to 'Back', employee_requests_path(current_employee) %>
</div>
