<p>
  <b>Employee:</b>
  <%= @selection.employee.name %>
</p>

<p>
  <b>Request:</b>
  <%= @selection.response.request.task %>
</p>

<p>
  <b>Notes:</b>
  <%= @selection.notes %>
</p>

<%= link_to 'Edit', edit_selection_path(@selection) %> |
<%= link_to 'Back', employee_requests_path(@current_employee) %>
