<header>
    <div class="container">
      <nav>
        <ul class="nav nav-tabs">
          
	<% if signed_in? %>
	    <li class="<%= 'active' if current_page?(employee_requests_path(current_employee)) %>">
	    	<%= link_to "My Requests", employee_requests_path(current_employee)%></li>          
	    <li class="<%= 'active' if current_page?(requests_path) %>">
	    	<%= link_to "All Requests", requests_path %></li>
	    <li class="<%= 'active' if current_page?(employees_path) %>">
	    	<%= link_to "Employees", employees_path %></li> 
	    <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
	
	<% end %>
	    
	    </ul>

      </nav>
    </div>
</header>



