<header>
  
      <nav>
        <ul class="nav nav-tabs" "pull-left">
          
	<% if signed_in? %>
	    <li class="<%= 'active' if current_page?(requests_path) %>">
	    	<%= link_to "All Requests", requests_path %></li>
	    <li class="<%= 'active' if current_page?(employees_path) %>">
	    	<%= link_to "Employees", employees_path %></li> 
	    <li class="<%= 'active' if current_page?(employee_path(current_employee)) %>">
	        <%= link_to "My Profile", employee_path(current_employee)%></li>
	    <li class="<%= 'active' if current_page?(employee_requests_path(current_employee)) %>">
	    	<%= link_to "My Requests", employee_requests_path(current_employee)%></li> 
	             
	    <li class= "pull-right"><%= link_to "Sign out", signout_path, method: "delete" %></li>
	<% end %>
	   
	    </ul>
      </nav>
 
</header>



